{% extends "base.html" %}

{% block content %}
    <form class="mt-3" method="POST">

        <div class="mb-3">
            <label for="titulo-tarefa" class="form-label">Título da tarefa</label>
            <input type="text" class="form-control" name="titulo-tarefa" id="titulo-tarefa"
                aria-describedby="ajudaNomeTarefa" required>
            <div id="ajudaNomeTarefa" class="form-text">Use um nome de tarefa que seja descritivo.</div>
        </div>

        <div class="mb-3">
            <label for="data-conclusao" class="form-label">Data de conclusão</label>
            <input type="date" class="form-control" name="data-conclusao" id="data-conclusao">
        </div>

        <button type="submit" class="btn btn-primary">Adicionar</button>
    </form>

    <h2 class="my-3">Lista de Tarefas</h2>

    {% if tarefas %}

        <ul>
            {% for tarefa in tarefas %}
                <li>{{ tarefa.titulo_tarefa }} - {{ tarefa.data_conclusao }}</li>
            {% endfor %}
        </ul>

    {% else %}

        <p>Nenhuma tarefa cadastrada</p>

    {% endif %}

{% endblock %}

<!-- Métodos HTTP:
    GET -> "pega" (recupera/obtém) as informações (READ)
    POST -> "envia" (cadastra/inclui/adiciona) as informações (CREATE)
    UPDATE/PATCH -> "atualiza" as informações (UPDATE)
    DELETE -> "apaga" as informações (DELETE)

    CRUD -> Create, Read, Update, Delete
-->

<!-- Códigos de retorno:
    2XX - Sucesso
    3XX - Sucesso, mas redirecionado
    4XX - Não encontrado (falha  na REQUISIÇÃO)
    5XX - Erro do servidor (falha na RESPOSTA)
-->